.aqua {
    background-color: aqua;
}

.fondo {
    background-color: black;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}

.navbar {position: absolute;}

#avion {
    width: 2rem;
    height: auto;
}

.border {
    margin: auto;
}

.card-img-top {
    width: auto;
    height: 12rem;
    object-fit: cover;
}

.card {width: 18%;}

@media (max-width: 575.98px) {
    .card {
        width: 80%;
        margin-bottom: 10%;
        padding-left: 10%;
    padding-right: 10%;    }
}